<!DOCTYPE html>
<html>

	<head>

		<meta name="viewport" content="width=device-width, user-scalable=no">

        <script src="https://cdn.jsdelivr.net/npm/vue"></script>

        <!-- CSS -->

        <style>

        .fade-enter-active, .fade-leave-active {
            transition: opacity .5s;
        }
        .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
            opacity: 0;
        }

        </style>

    </head>

    <!-- Body -->

    <body>

        <div style="margin:10%">

            <h1>Kolonial</h1>

            <h2>Frukt og grønt</h2>
            <input type="checkbox">Tomat<br>

            <h2>Bakevarer</h2>
            <input type="checkbox">Brød<br>
            <input type="checkbox">Rundstykker<br>

            <h2>Pålegg</h2>
            <input type="checkbox">Skinke<br>
            <input type="checkbox">Brunost<br>
            <input type="checkbox">Røkt ørret<br>

            <h2>Drikke</h2>
            <input type="checkbox">Biola<br>
            <input type="checkbox">Surmelk<br>
            <input type="checkbox">Kaffe<br>
            <input type="checkbox">Kaffefilter<br>

            <h2>Frokost / niste</h2>
            <input type="checkbox">Frokostblanding<br>

            <h2>Basisvarer</h2>
            <input type="checkbox">Pizzamel<br>
            <input type="checkbox">Egg<br>

            <h2>Hygiene</h2> 
            <input type="checkbox">Håndsåpe<br>
            <input type="checkbox">Barnetannkrem<br>
            
            <h2>Diverse</h2> 
            <input type="checkbox">Sparepærer<br>
            <input type="checkbox">Gave til Mathias<br>


            <h1>Teknisk</h1>

            <h2>Byggematerialer</h2>
            <input type="checkbox">Lexan<br>
            <input type="checkbox">Trelim<br>
            <input type="checkbox">List<br>

            <h2>Kontor</h2>
            <input type="checkbox">Fargeprinter<br>
            <input type="checkbox">Printerark<br>


            <br><br><br>

            <!-- Vue stuff -->

            <div id="app1">
                {{ message }}
            </div>

            <div id="app2">
                <span onclick="" v-bind:title="message">
                    Hover your mouse over this message for a few
                    seconds to see its dynamically bound title!
                </span>
            </div>

            <span title="Hello!
            Linebreaks?">Does this have a title, too?</span>

            <div id="app3">
                <button v-on:click="seen = ! seen">Toggle</button>
                <transition name="fade">
                    <span v-if="seen">Now you see me.</span>
                </transition>
            </div>

            <div id="app4">
                <ol>
                    <li v-for="todo in todos">
                        {{ todo.text }}
                    </li>
                </ol>
                <input v-model="todo">
                <button v-on:click='todos.push({ text: todo})'>Add task</button>
            </div>

            <div id="app5">
                <p> {{ message }} </p>
                <button v-on:click="reverseMessage">Reverse it</button>
            </div>

            <div id="app6">
                <ol>
                    <todo-item v-for="item in groceryList"
                               v-bind:todo="item"
                               v-bind:key="item.id"/>
                </ol>
            </div>

        </div>

        <!-- Scripts -->

        <script type=text/javascript>

            var app1 = new Vue({
                el: '#app1',
                data: {
                    message: "Hello Kristine! :) <3"
                }
            })

            var app2 = new Vue({
                el: '#app2',
                data: {
                    message: "You loaded this page on " + new Date().toLocaleString()
                }
            })

            var app3 = new Vue({
                el: '#app3',
                data: {
                    seen: true
                }
            })

            var app4 = new Vue({
                el: '#app4',
                data: {
                    todos: [
                    { text: "Learn JavaScript" },
                    { text: "Learn HTML" },
                    { text: "Learn CSS" },
                    { text: "Learn Vue" }
                    ],
                    todo: "Add new tasks here ..."
                }
            })

            var app5 = new Vue({
                el: '#app5',
                data: {
                    message: "Hellove Kristine :)"
                },
                methods: {
                    reverseMessage: function () {
                        this.message = this.message.split('').reverse().join('')
                        app4.todos = app4.todos.reverse()
                    }
                }
            })

            Vue.component('todo-item', {
                props: ['todo'],
                template: '<li>{{ todo.text }}</li>'
            })

            var app6 = new Vue({
                el: '#app6',
                data: {
                    groceryList: [
                    { id: 0, text: "Vegetables" },
                    { id: 2, text: "Whatever else humans should eat" },
                    { id: 1, text: "Cheese" }
                    ]
                }
            })
                
        </script>

	</body>

</html>
